if SHIELD_SOFLE_LEFT || SHIELD_SOFLE_DONGLE

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Sofle_OLED"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SOFLE_LEFT || SHIELD_SOFLE_RIGHT || SHIELD_SOFLE_DONGLE

config ZMK_SPLIT
    default y

endif
