if SHIELD_SOFLE_LEFT || SHIELD_SOFLE_DONGLE

config ZMK_USB
	default y

endif

if SHIELD_SOFLE_LEFT || SHIELD_SOFLE_DONGLE

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Sofle_OLED"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SOFLE_LEFT || SHIELD_SOFLE_RIGHT || SHIELD_SOFLE_DONGLE || SHIELD_SOFLE_LEFT_PERIPHERAL

config ZMK_SPLIT
    default y

if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

if SHIELD_SOFLE_DONGLE

choice ZMK_DISPLAY_WORK_QUEUE
    default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
endchoice

endif

endif # ZMK_DISPLAY

endif
