#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "Home row mod right";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41>;
            hold-trigger-on-release;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "Home row mod left";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <36 37 38 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BASE";

            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |   2  |  3   |  4  |  5   |                  |  6   |  7  |  8    |  9   |   0   |   =   |
            // |  TAB  |  Q  |   W  |  E   |  R  |  T   |                  |  Y   |  U  |  I    |  O   |   P   |   {   |
            // |CAPS_W |  A  |   S  |  D   |  F  |  G   |                  |  H   |  J  |  K    |  L   |   ;   |   }   |
            // |CAPS   |  Z  |   X  |  C   |  V  |  B   | MUTE  |  | MUTE  |  N   |  M  |  ,    |  .   |   /   |   '   |
            //               | CTRL | ALT  |SHIFT| LOWER| RET   |  | SPACE | RAISE| GUI | CTRL  |SHIFT |

            bindings = <
&kp ESC        &kp N1  &kp N2           &kp N3               &kp N4             &kp N5                            &kp N6  &kp N7            &kp N8                &kp N9              &kp N0    &kp EQUAL
&kp TAB        &kp Q   &kp W            &kp E                &kp R              &kp T                             &kp Y   &kp U             &kp I                 &kp O               &kp P     &kp LBKT
&kp CAPS       &kp A   &hml S LEFT_ALT  &hml D LEFT_CONTROL  &hml F LEFT_SHIFT  &kp G                             &kp H   &hmr J RIGHT_ALT  &hmr K RIGHT_CONTROL  &hmr L RIGHT_SHIFT  &kp SEMI  &kp RBKT
&kp BACKSPACE  &kp Z   &kp X            &kp C                &kp V              &kp B   &kp C_MUTE    &kp C_MUTE  &kp N   &kp M             &kp COMMA             &kp DOT             &kp FSLH  &kp SQT
                       &kp LEFT_ALT     &kp LEFT_CONTROL     &kp LSHFT          &tog 1  &kp RET       &kp SPACE   &tog 2  &kp RGUI          &kp RCTRL             &kp RSHFT
            >;

            sensor-bindings = <&inc_dec_kp LC(TAB) LC(LS(TAB)) &inc_dec_kp LA(TAB) LA(LS(TAB))>;
        };

        lower_layer {
            display-name = "LOWER";

            // ------------------------------------------------------------------------------------------------------------
            // | ESC   |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // | TAB   |   1 |   2 |   3  |   4  |   5  |                   |   6  |   7   |   8   |   9  |    0  |   -   |
            // | RAISE |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   /   |   `   |
            //               |CTRL | ALT  |SHIFT | BASE |        |  | BKSP  |RAISE |  GUI  | CTRL  |SHIFT |

            bindings = <
&kp ESC            &kp F1          &kp F2     &kp F3       &kp F4     &kp F5                               &kp F6     &kp F7    &kp F8           &kp F9     &kp F10   &kp F11
&kp TAB            &kp N1          &kp N2     &kp N3       &kp N4     &kp N5                               &kp N6     &kp N7    &kp N8           &kp N9     &kp N0    &kp MINUS
&kp EQUAL          &kp EXCL        &kp AT     &kp HASH     &kp DLLR   &kp PRCNT                            &kp CARET  &kp AMPS  &kp KP_MULTIPLY  &kp LPAR   &kp RPAR  &kp NUBS
&kp LC(BACKSPACE)  &kp LC(DELETE)  &kp MINUS  &kp KP_PLUS  &kp LBRC   &kp RBRC   &trans           &trans   &kp LBKT   &kp RBKT  &kp SEMI         &kp COLON  &kp FSLH  &kp GRAVE
                                   &kp LCTRL  &kp LALT     &kp LSHFT  &to 0      &kp BACKSPACE    &kp TAB  &to 2      &kp RGUI  &kp RCTRL        &kp RSHFT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        raise_layer {
            display-name = "RAISE";

            // ------------------------------------------------------------------------------------------------------------
            // |      | BT1  | BT2  |  BT3  |  BT4  |  BT5 |                | BTCLR |      |       |       |       | DEL   |
            // |      |MV_L_F|MV_U_F|MV_UP  |MV_U_F |      |                | MENU  |      | SCR_U |       | PSCR  |       |
            // |CAPS_W|MV_L_F|MV_L  |MV_UP  |MV_R   |MV_R_F|                |       | LCLK | RCLK  | MCLK  | UP    | DOWN  |
            // |CAPS  |      |MV_D_F|MV_DN  |MV_D_F |      |      |  |      |       | SCR_L| SCR_D | SCR_R | LEFT  | RIGHT |
            //               |CTRL  | ALT   |SHIFT  |      |      |  |      | BASE  | GUI  | CTRL  | SHIFT |

            bindings = <
&kp ESCAPE   &bt BT_SEL 0        &bt BT_SEL 1        &bt BT_SEL 2       &bt BT_SEL 3        &bt BT_SEL 4                              &bt BT_CLR   &trans            &trans            &kp K_SLEEP      &trans     &kp DEL
&kp LS(TAB)  &mmv MOVE_X(-1200)  &mmv MOVE_Y(-1200)  &mmv MOVE_Y(-600)  &mmv MOVE_Y(-1200)  &kp HOME                                  &kp K_CMENU  &trans            &msc MOVE_Y(-20)  &trans           &kp PSCRN  &trans
&caps_word   &mmv MOVE_X(-1200)  &mmv MOVE_X(-600)   &mmv MOVE_Y(-600)  &mmv MOVE_X(600)    &mmv MOVE_X(600)                          &trans       &mkp LCLK         &mkp RCLK         &mkp MCLK        &kp UP     &kp DOWN
&kp K_REDO   &kp K_UNDO          &mmv MOVE_Y(1200)   &kp K_COPY         &kp K_PASTE         &kp END           &trans         &trans   &trans       &msc MOVE_X(-20)  &msc MOVE_Y(20)   &msc MOVE_X(20)  &kp LEFT   &kp RIGHT
                                 &kp LCTRL           &kp LALT           &kp LSHFT           &to 1             &kp LS(TAB)    &kp TAB  &to 0        &kp RGUI          &kp RCTRL         &kp RSHFT
            >;

            sensor-bindings = <&inc_dec_kp END HOME &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
